
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <title>Students</title>
</head>
<body>
    <div>
        <h2>Students List</h2>
        <ul>
            @foreach(string students in ViewBag.Students)
            {
                <li>@students</li>
            }
        </ul>
    </div>
</body>
</html>
